APP_NAME=Air Bersih Management
APP_ENV=production
APP_DEBUG=false

MYSQL_DATABASE=air_bersih_management
MYSQL_USER=airbersih
MYSQL_PASSWORD=ganti-password-db
MYSQL_ROOT_PASSWORD=ganti-root-password-db

APP_URL=https://api.pelayanan.id
SESSION_DOMAIN=.pelayanan.id
SANCTUM_STATEFUL_DOMAINS=app.pelayanan.id
VITE_API_BASE_URL=https://api.pelayanan.id/api
